<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <h2>Register</h2>
    <form method="POST" action="/register_web">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Email:</label>
        <input type="email" name="email" required><br><br>
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        <label>Rol:</label>
        <select name="rol" required>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select><br><br>
        <button type="submit">Register</button>
    </form>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
    {% if message %}<p style="color:green;">{{ message }}</p>{% endif %}
</body>

</html>